{:title "Contract Verification using Symbolic Execution"
 :layout :post
 :description "An introduction to contracts, symbolic execution, and how to use the latter the verify the former."}
